@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
.Navigation-bar{
    border: 1px transparent solid;
    background-color: rgba(0, 0, 0, 0.358);
    padding:3% 2% 3% 0;
    margin-top:7%;
    position: relative;
    z-index: 1;
}

.Navigation-bar ul{
display:flex;
list-style-type: none;
justify-content: flex-end;
}

.Navigation-bar ul li .nav-link{
    color:rgb(189, 135, 18);
    font-family: 'Revalia', cursive;
    font-size:20px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 10px 5px #000000;
    
    
}
.Navigation-bar ul li .nav-link:hover{
    color:white;
    text-shadow: 10px 5px rgb(189, 135, 18);
}

.Navigation-bar ul li {
    margin-left:5%;
    
}

@media only screen and (max-width:480px){
    .Navigation-bar{
        display:none;
    }
}

