.offer-line{
    display:flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-evenly;
    margin-top:10%;
    height:100%;
    width:90%;
    margin:10% auto;
    
    
}
.offers-title{
    color:white;
    font-family: 'Parisienne', cursive;
    text-align: center;
    margin-top:2%;
    font-size:50px;
    text-shadow: 10px 5px #000000;
}
.offer-page-title{
    color:white;
    font-family: 'Revalia', cursive;
    text-align: center;
    margin-top:10%;
    font-size: 30px;
    text-shadow: 10px 5px #000000;
}
span{
    color:rgb(206, 58, 22);
}

.offer-line .Offer-image1,.offer-line .Offer-image2,.offer-line .Offer-image3{
    width:100%;
    border-radius: 15px;
    
}
.Box-one  {
    display:flex;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    border: 1px transparent none;
    width:32%;
    height:100%;
    border-radius: 15px;
    color:white;
    font-family: 'Revalia', cursive;
    text-align: center;
}
.offer-line{
   display:flex;
   flex-wrap: wrap;
 }

 .offer_image{
    border:20px rgba(189, 135, 18, 0.24) solid;
    border-radius: 15px;
    min-width:100%;
 }
 .Box-one p {
     border:1px transparent solid;
     background-color: rgba(0, 0, 0, 0.185);
     
 }
.submit-Order{
    border:none;
    border-radius: 5px;
    background-color:rgb(189, 135, 18);
    color:white;
    font-family: 'Revalia', cursive;
    padding:0 0 5.5px 0; 
    margin-top:4%;
    height:40px;
    
}

.submit-Order:hover{
    color:rgb(189, 135, 18);
    background-color:white;
}
.order-flex{
    display:flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-evenly;
}


#pickup{
    width:50%;
}

.Meal-list{
   display:flex;
   flex-direction: column;
}

.Meal-title{
    margin-top:10%;
    color:rgb(189, 135, 18);
    
}
.order-type{
    color:rgb(189, 135, 18);
    margin-top:5%;
}
label{
    color:rgb(189, 135, 18);
}
select{
    width:35%;
    height:40px;
    background-color:rgba(255, 255, 0, 0.24);
    color:white;
    font-size:20px;
    border:1px rgba(0, 0, 0, 0.616) solid;
    font-size: 20px;
}
[type="number"]{
    width:35%;
    height:40px;
    background-color:rgba(255, 255, 0, 0.24);
    color:white;
    font-size:20px;
    border:1px rgba(0, 0, 0, 0.616) solid;
    font-size: 20px;
    margin:2.5% 0 2.5% 10%;
}
[type="radio"]{
    margin-left:10px;
    
 
}

@media only screen and (max-width:480px){
    .offer-line{
        display:flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: column; 
    }
    .offers-title{
        font-size:25px;
    }
    .offer-page-title{
        font-size:20px;
        margin-top:30%;
    }
    .offer-page-title span{
        font-size:20px;
    }
.Box-one{
    margin:0 7% 0 0%;
}

    .Meal-list{
        margin:0 20% 0 -13%;
    }
   
    .order-type{
       margin:0 20px 0 -50px;
        width:70vw;
    }

    [type="number"]{
        width:15vw;
        margin:0 20px 0 5;
    }
    [type="text"]{
        width:70vw;
        margin:0 20px 0 -70px;
    }
    [type="tel"]{
        width:70vw;
        margin:0 20px 0 -70px;
    }
    [type="email"]{
        width:70vw;
        margin:0 20px 0 -70px;
    }
    .submit-Order{
        margin-top:20%;
    }
    textarea{
        margin:0 20px 0 -70px;

    }

}