#react-burger-menu-btn , .bm-burger-button , .bm-overlay{
    display:none;
}
@media only screen and (max-width:480px){

  #react-burger-menu-btn , .bm-burger-button{
    display:block;
    
}
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: rgb(189, 135, 18);

  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    right:0;
    top:0;
    height: 100%;
    min-width:100%;
    z-index: 10;
   
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: rgba(0, 0, 0, 0.747);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    display:flex;
    flex-direction: column;
    position: fixed;
    top:0;
    left:0;
    min-height:100%;
    min-width: 100%;
    transition: ease-in-out;

   
  }


  .Navigation-bar ul{
    display:flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    list-style-type: none;
    border: transparent none;
    margin-left:0;
   
    }
    .Navigation-bar ul li{
    
      text-align: center;
      font-size:60px;
        }
      
        .Navigation-bar ul li .nav-link{
          color:rgb(189, 135, 18);
          font-family: 'Revalia', cursive;
          font-size:35px;
         
   
      }

      .Navigation-bar ul li .nav-link:hover{
      
        text-shadow: 10px 5px #000000;
 
    }
      .Navigation-bar ul li .nav-link::before{
           content: "✦";
    }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    
  }
  

  /* Individual item */
.bm-item {
    display: inline-block;
    background-color: transparent;
    color: #d1d1d1;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: #ffffff;
  }
  .bm-menu-wrap{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
  .bm-burger-button{
      background: url('../../Images/Burger-nav.png');
      background-size: contain;
      background-repeat: no-repeat;
      position: fixed;
      left: 75%;
      top: 7%;
      height: 15%;
      width: 22%;
  }
  .bm-burger-bars{
      visibility: hidden;
  }
}